* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100vh;
  font-size: 20px;
  background: url(./natue.jpg);
  background-size: cover;
}
h1 {
  margin-top: -14%;
  font-size: 95px;
  font-style: italic;
}
.container {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: -7%;
  font-size: 82px;
  margin-left: -68%;
}
.navbar {
  width: 64%;
  margin: auto;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 14px;
}
.navbar ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
}

/* #signup { */

/* } */
/* .btn_submit1{ */
/* cursor: pointer; */
/* height: 16vh; */
/* width: 17vw; */
/* font-size: xxx-large; */
/* border-radius: 12px; */
/* border: 2px solid black; */
/* } */
/* .btn_submit2{ */
/* cursor: pointer; */
/* height: 16vh; */
/* width: 17vw; */
/* font-size: xxx-large; */
/* border-radius: 12px; */
/* border: 2px solid black; */
/* margin: 17px; */
/* } */
